//- Template for a documentation page with Markdown content
extends sidebar-page

append styles
    link(rel='stylesheet' href='/atom-one-dark.css')

append scripts
    script(src='/docs.js')

block sidebar-content
    label(for='docs-search')
        i(class='fa-solid fa-magnifying-glass' id='docs-search-icon')
    input(type='text', id='docs-search', placeholder='Search')
    div(id='docs-search-results')
    div(id='sidebar-content')
        | !{navigation}

block main-content
    div(id='page-breadcrumbs')
        a(href='/docs/') Docs
        span(class='item-divider') /
        a(href=`/docs/${projectName}/`) #{projectName}
        span(class='item-divider') /
        a(href=`/docs/${projectName}/${pageName}/` class='docs-index.pug-hidden') #{pageName}
        span(class='item-divider docs-index.pug-hidden') /
    h1(id='page-title') #{pageName}
    div(id='docs-page-content') !{markdown}