//- The site homepage
extends template

append scripts
    script(src='/projects-grid.js')

block content
    div(id='main-page-two-column')
        div(id='main-page-left-column')
            h2 My projects
            div(id='project-box-grid')
                - for (var project of projects)
                    div(class='project-box')
                        div(class='project-header')
                            div(class='project-details')
                                h3(class='project-title') #{project.name}
                                div(class='project-pills')
                                    - if (project.pills)
                                        - for (var pill of project.pills)
                                            span(class='project-pill') #{pill}
                            - if (project.icon)
                                - if (project.buttons && project.buttons.length > 0)
                                    a(href=project.buttons[0]['link'] title='View project on ' + project.buttons[0]['id'] class='project-image')
                                        - if (project.icon.type === 'svg')
                                            object(class='project-image' data=project.icon.url type='image/svg+xml')
                                        - else
                                            img(class='project-image' src=project.icon.url alt='Project icon')
                                - else
                                    - if (project.icon.type === 'svg')
                                        object(class='project-image' data=project.icon.url type='image/svg+xml')
                                    - else
                                        img(class='project-image' src=project.icon.url alt='Project icon')
                        div(class='project-body')
                            div(class='project-description')
                                p(class='project-tagline') #{project.description}
                                div(class='project-buttons')
                                    - for (var button of project.buttons)
                                        a(href=button.link class='project-button ' + button.class target='_blank' title='View project on ' + button.id)
                                    - for (var link of project.links)
                                        a(href=link.link class='project-button button-link' title='View project ' + link.id) #{link.text}
                            div(class='project-stats')
                                - if (project.stats)
                                    - for (var stat of project.stats)
                                        span(class='project-stat')
                                            i(class=stat.icon)
                                            span #{stat.text}

            div(id='project-box-grid-expand-button')
                a(id='expand-button-link' title='Expand/contract project grid')
                    i(class='fas fa-chevron-down' id='expand-button-icon')
                    span(id='expand-button-text') Expand

        div(id='main-page-right-column')
            a(href='https://twitter.com/William27528')
                img(src='/images/icons/williamhead.png' id='main-page-head-icon' alt='The William278 head icon')

            h2 William278.net
            p(id='main-page-tagline') Open source Minecraft server software & game projects.
            p This site contains easily-accessible documentation and information all about my various projects.
                span &#32;
                | Additionally, I provide human support for my Minecraft plugins through the HuskHelp discord.
            br
            div
                a(class='button-link' href='/docs' title='Project documentation') Docs
                span &nbsp;
                a(class='button-link' href='https://discord.gg/tVYhJfyDWG' title='HuskHelp Discord invite link') Discord

            hr

            h3
                i(class='fa-solid fa-comment-dollar')
                span &nbsp;
                | Commissions
            p I'm not currently open for commissions. Thank you for your understanding!

            h3
                i(class='fa-solid fa-wrench')
                span &nbsp;
                | Updates
            p I regularly update my plugins to support new versions, add new features and to fix bugs. When I do so, I will issue an announcement in the HuskHelp discord.
            p If you would like to receive notifications when I post an announcement and/or gain access to preview builds, you can use the buttons in the
                span &#32;
                code #role-picker
                span &#32;
                | channel to opt-in to notifications

            h3
                i(class='fa-solid fa-box')
                span &nbsp;
                | Other projects
            h4 Haroohie Translation Club
            p I'm a member of the Haroohie Translation club, a fan-translation group working on translating games from the Haruhi Suzumiya series!
                span &#32;
                a(href='https://haroohie.club/' target='_blank' title='Go to haroohie.club for more information') More information&hellip;