//- Master page template
doctype html

html(lang='en')
    head
        title #{title}
        meta(name='description', content=`${description}`)

        block styles
            link(rel='stylesheet', href='/style.css')
            link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic')
            link(href='/fontawesome-free/css/fontawesome.css' rel='stylesheet')
            link(href='/fontawesome-free/css/brands.css' rel='stylesheet')
            link(href='/fontawesome-free/css/solid.css' rel='stylesheet')

        block meta
            //- Charset and viewport
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width, initial-scale=1')

            //- Favicons
            link(rel='apple-touch-icon', sizes='180x180', href='/assets/icons/favicons/apple-touch-icon.png')
            link(rel='icon', type='image/png', sizes='32x32', href='/assets/icons/favicons/favicon-32x32.png')
            link(rel='icon', type='image/png', sizes='16x16', href='/assets/icons/favicons/favicon-16x16.png')
            link(rel='manifest', href='/site.webmanifest')
            link(rel='mask-icon', href='/assets/icons/favicons/safari-pinned-tab.svg', color='#142b42')
            link(rel='shortcut icon', href='/assets/icons/favicons/favicon.ico')

            //- Platform icon configuration
            meta(name='msapplication-TileColor', content='#142b42')
            meta(name='msapplication-config', content='/browserconfig.xml')
            meta(name='theme-color', content='#00fb9a')

            //- Social media cards and icons
            meta(name='twitter:card', content='summary')
            meta(name='twitter:title', content=`${name}`)
            meta(name='twitter:description', content=`${description}`)
            meta(name='twitter:image', content='/assets/icons/huskhelp.png')
            meta(name='twitter:image:alt', content='William278.net icon')
            meta(name='twitter:site', content='@William27528')

            meta(name='og:title', content=`${name}`)
            meta(name='og:description', content=`${description}`)
            meta(name='og:type', content='product')
            meta(name='og:site_name', content=`William278.net - ${tagline}`)
            meta(name='og:url', content=`${domain}/${path}`)

        block scripts
            script(src='//code.jquery.com/jquery-1.10.2.js')
            script(type='application/ld+json')
                | {"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[
                - let index = 1;
                each page in path.split('/')
                    | {"@type":"ListItem","position":#{index},"item":{"@id":"#{page}","name":"#{page ? page[0].toUpperCase() + page.slice(1).replace(/-/g, ' ') : 'Home'}"}},
                    - index++;
                | ]}
            script(type='application/ld+json') !{organization}


    body
        header
            div(id='navbar')
                h1(id='navbar-logo')
                    a(href='/') William278
                span(id='navbar-space')
                ul(id='navbar-links')
                    li(class='navbar-link')
                        a(href='/') Home
                    li(class='navbar-link')
                        a(href='/docs') Docs
                    li(class='navbar-link')
                        a(href='https://discord.gg/tVYhJfyDWG' target='_blank' class='button-link') Support

        main
            block content

        footer
            div(id='footer')
                p
                    span &copy; William278, 2022
                    br
                    span
                        a(href='/terms' class='footer-link') Support Terms
                        span(class='footer-link-divider') &#xFF0D;
                        a(href='https://buymeacoff.ee/william278' class='footer-link') Tips
                        span(class='footer-link-divider') &#xFF0D;
                        a(href='https://twitter.com/William27528' class='footer-link') Twitter
                        span(class='footer-link-divider') &#xFF0D;
                        a(href='https://github.com/WiIIiam278' class='footer-link') GitHub
                    span(id='site-version-indicator')
                        i(class='fa-solid fa-code-branch')
                        a(href="https://github.com/WiIIiam278/William278.net/" id='site-version-indicator-link') #{version}